.color01{
    background-color: bisque;
}
.color02{
    color: white;
}
.color03{
    background-color: rgb(5, 65, 73);
}

span{
    color: crimson;
}
.myBtn{
    background-color: darkcyan;
    color: white;
    padding: 2px 7px ;
    border-radius: 5px;
    font-size:larger;
}

#show-div{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.detail-area{
    margin:auto;
    margin-bottom: 5px;
    padding: auto;
    text-align: center;
    width: 20%;
    background-color: aquamarine;
}
.card-deck{
    margin: auto;
}


/* .influencer-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 50px;
    justify-content:center;
    align-items: center;
}

.influencer-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
 } */